@font-face {
	font-family: 'Rono';
	src: url('./Rono-Black.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

body {
	/*	background-color: #121212;*/
	background-image: url("./woodenTable2.jpg");
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    background-size: cover;
    background-position: top right;
}

h1 {
	font-family: 'Rono';
	color: rgb(250, 140, 50);
	font-size: 180px;
	-webkit-text-stroke: 2px white;
	margin: 0px;
}

img {
	max-height: 100px;
}



