
@font-face {
	font-family: 'Rono';
	src: url('./Rono-Black.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

body {
	background-image: url("./woodenTable2.jpg");
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    background-size: cover;
    background-position: top right;
    padding-top: 40px;
}

h1 {
	font-family: 'Rono';
	color: rgb(250, 140, 50);
	font-size: 280px;
	-webkit-text-stroke: 2px white;
	margin: 0px;
	display: inline-block;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tabsWrapper {
	width: 830px; /*same as h1 */
	display: flex;
	justify-content: space-around;
	position: absolute;
	top: 240px;
}

.tabsWrapper button {
	width: 65px;
	cursor: pointer;
}

.switchingWrapper {
	width: 800px;
	min-height: 850px;
	overflow: hidden;
}
