@font-face {
	font-family: "Satisfy";
	src: url("./Satisfy-Regular.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

.menu {
	font-family: "Satisfy";
}

h2 {
	font-family: "Rono";
	font-size: 40px;
	-webkit-text-stroke: 1px white;
	color: rgba(69, 84, 0, 1);
	padding: 10px;
}

.menu h2 {
	padding: ;
}

.menu h3 {
	text-decoration: underline;
	text-indent: 10px;
	font-size: 22px;
}

.menu li {
	padding: 10px;
}
